body{
    width: 100%;
    height: 100%;
}
.button1{
	background-color:white;
	color:#4CAF50;
	text-align:center;
	margin: 4px 2px;
	border:2px solid #4CAF50;
	padding:15px 32px;
	border-radius:5%;
}
.button2{
	background-color:white;
	color:grey;
	text-align:center;
	margin: 4px 2px;
	border:2px solid lightgrey;
	padding:15px 32px;
	border-radius:10%;
}
.container{
    width: auto;
    height: auto;
}

.leftpane{
    width: 30%;
	min-height:100%;
	position:relative;
    float: left;
	background-image:url("../../images/bg.jpg");
	background-size:cover;
	background-repeat:repeat-x;
}
.rightpane{
    width: 70%;
	float:right;
	position:relative;
}

@font-face{
	font-family: myfont;
	src: url(fontawesome-webfont.woff);
}
p1{
	float:right;
	font-family:"FontAwesome",sans-serif;
	color:white;
}
p2{
	float:left;
	font-family:"FontAwesome",sans-serif;
	color:grey;
}
p3{
	float:right;
	font-family:"FontAwesome",sans-serif;
	color:grey;
	font-size:10px;
}
.profcontainer{
	position:absolute;
	right:50px;
	top:180px;
}
.iconcontainer1{
	position:absolute;
	bottom:80px;
    right: 50px;
}
.iconcontainer2{
	position:absolute;
	bottom:50px;
    right: 50px;
}
.avatar{
	border-radius: 50%;
	float:right;
	width: 50%;
	
}
.righttop{
	position:relative;
	left: 50px;
	top: 100px;
	margin-right:100px;
	border-bottom:2px solid lightgrey;
}
.rightmiddle{
	position:relative;
	top:150px;
	left:50px;
	margin-right:100px;
	border-bottom:2px solid lightgrey;
}
.recentworksleft{
	width:50%;
	position:relative;
	float:left;
}
.recentworksright{
	width:50%;	
	float:right;
	position:relative;
}
.thumbs{
	border-radius:5%;		
        width:80%;
	margin-left:10px;	
}
.rightbottom{
	position:relative;
	left: 50px;
	top: 200px;
	margin-right:100px;
}
.getintouchleft{
	width:75%;
	position:relative;
	float:left;
	margin-top:20px;
}
.getintouchright{
	width:25%;
	position:relative;
	float:right;
}
.textboxleft{
	width:50%;
	float:left;
	position: relative;
}
.textboxright{
	width:50%;
	float:right;
	position:relative;
}
.textbox{
	width:90%;
	border-radius:5%;
	padding:12px 8px;
	color:grey;
	border:2px solid lightgrey;
}
.textbox1{
	width:95%;
	border-radius:5%;
	padding:12px 8px;
	color:grey;
	border:2px solid lightgrey;
}

